:root {
  --background: #ffffff;
  --dark-primary: #388e3c;
  --light-primary: #c8e6c9;
  --primary: #4caf50;
  --accent: #ffeb3b;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
}

body {
  background: var(--background) !important;
}
/* Navbar styling */
.navbar {
  background: var(--dark-primary);
}

.navbar-brand {
  font-size: 40px !important;
}

a,
.dropdown-item {
  color: var(--background);
}

a:hover {
  color: var(--light-primary);
}

.disabled {
  color: var(--primary) !important;
}

.dropdown-menu {
  background: var(--dark-primary);
  border: none !important;
}

.dropdown-item:hover {
  color: var(--dark-primary) !important;
  background: var(--background) !important;
}

.navbar-toggler {
  padding-bottom: 0 !important;
}

.fa-bars {
  color: var(--light-primary);
}

/* Header styling */
.header {
  background: var(--primary);
  padding-top: 40px;
  padding-bottom: 1px;
  margin-bottom: 30px;
}

.header-old {
  background: var(--primary);
  padding: 10px;
  margin-bottom: 30px;
}

h1 {
  color: var(--background) !important;
  font-size: 50px;
}

h5,
p,
i {
  color: var(--light-primary) !important;
}

/* Header form */
.header-form {
  background: var(--dark-primary);
  padding: 10px;
  display: grid;
  gap: 10px;
  margin: 0 auto;
  max-width: 500px;
}

/* Content styling */
h4 {
  color: var(--secondary-text) !important;
}

ul {
  color: var(--primary-text);
}

.content ul li {
  color: var(--primary-text);
  list-style-image: url("/images/euro-symbol.png");
}

/* Footer Styling */
footer {
  background: var(--dark-primary);
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

footer a {
  text-decoration: none;
}

footer button {
  background: transparent !important;
  color: var(--background) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.currency {
  border: 3px solid var(--primary) !important;
  border-radius: 4px !important;
}
